@charset "utf-8";
nav{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    box-sizing: border-box;
}
.ff{
    position: relative;
}
.bi{
    width: 180px;
    height: 55px;
    margin: 0 auto;
    background-image: url("../images/ocn_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    cursor: pointer;
}
.smenu{
    width: 1200px;
    height: 30px;
    position: absolute;
    z-index: 200;
}
.smenu > li{
    float: left;
    width: 240px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: black;
}
.smenu > li:hover{
    font-weight: 700;
    
}
.smenu > li > ul{
    display: none;
    width: 240px;
    height: auto;
}
.smenu > li > ul > li{
    width: 240px;
    height: 30px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255,0.8);
}
.smenu > li > ul > li:hover{
    font-weight: 700;
}
